/**
 * 全局重置样式
 * 统一不同端的默认样式差异
 */

page,
view,
text,
image,
scroll-view,
swiper,
button,
input,
textarea,
form,
navigator {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

image {
  display: block;
  max-width: 100%;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  line-height: inherit;
  border-radius: 0;
  font-size: inherit;

  &::after {
    border: none;
    padding: 0;
    margin: 0;
  }
}

input,
textarea {
  outline: none;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// 禁用长按菜单
view,
text,
image {
  -webkit-touch-callout: none;
}
